.header {
  width: 100%;
  padding: 4rem 0rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.header img {
  height: 3rem;
  width: auto;
}

.header nav {
  display: flex;
  gap: 2rem;
}
