.sponsor_images {
  height: 4rem;
  width: auto;
  filter: grayscale(100%);
}

@media screen and (width <= 1280px) {
  .sponsor_images {
    height: 3rem;
  }
}

@media screen and (max-width: 750px) {
  .sponsor_images {
    height: 2rem;
  }
}

@media screen and (max-width: 420px) {
  .sponsor_images {
    height: 1.6rem;
  }
}

